<phpunit bootstrap="./vendor/autoload.php"
         colors="true"
         strict="true"
         verbose="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
        >

    <php>
        <var name="db_dsn" value="mysql:dbname=pumpkin;host=127.0.0.1"/>
        <var name="db_username" value="root"/>
        <var name="db_password" value=""/>
    </php>

    <testsuites>
        <testsuite name="Pumpkin Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

</phpunit>